@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Roboto&display=swap');
*{
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
background-color: black;
color:white;
margin: 0px;
padding: 0px;
box-sizing: border-box;
}


.column{
    float: left;
}
.left {
    width: 20%;
    position: fixed;
    top: 0;
}

.middle, .right{
   width: 40%;
}

.sidebar{
height: 100vh;
margin: 0px;
position: static;
border-right: 1px solid #202020;
top:0;
}
.logo img{
    width: 70px;
    font-size: 30px;
    padding-left: 10px;
}
.logo{
    width: 100px;
    margin-left: 40px;
}
.post-button {
    display: flex;
    align-items: center;
    border: none;
    background: #1d9bf0;
    color: white;
    font-size:17px ;
    font-weight: 500;
    width:65% ;
    justify-content: center;
    margin-top: 10px;
    margin-left:58px ;
    height: 50px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}
.nav-items{
    height: 100% ;
}
.category{
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    height: 48px;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 50px;
    padding: 10px 20px 10px 10px ;
    font-weight: 500px;
}
.category i{
    background:none ;
    font-size: 30px;
    margin-right: 20px;
}
.category:hover{
    background:#16181c;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
} 
.sidebar-footer{
display: flex;
height: 67px;
width: 45px;
margin-left: 30px ; 
margin-top: 30px;
}
.profile-actions { 
display: flex;
background:none ;
align-items: center;
height: 35px;
width: 0px;
font-weight:500;
font-size: 15px;
}
.profile-actions i{
color: palevioletred;
background: none;
width: 32px;
margin-bottom: 5px;
margin-top:5px;
margin-right: 5px;
font-size: 30px;  
}
.profile-actions span{
height: 40px;
width: 0px;
background: none;
}
.profile-email{
display: flex;
background:none ;
font-size: 15px;
color: #202020;
height:48px;
align-items: flex-end;
justify-content: flex-start;
margin-left: 10px;

}




.main-container{
    margin-left: 261px;
    width: 650px;
}
.posts-section {
    background: black;
    cursor: pointer;
}
.top-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 618px;
    border-bottom: 1px solid #202020;
    border-right: 1px solid #202020;
}
.follow-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 618px;
    color: #606164;
    position: fixed;
    top:0;
    border-bottom: 1px solid #202020;
    border-right: 1px solid #202020;
}
.follow-text span {
 display: flex;
 background: none;
 height: 56px;
 align-items: center;
 justify-content: space-between;
 margin-left: 40px;

}
.following span{
    background: none;
    justify-content: space-between;
    height: 56px ;
    width: 450px;
    margin-left: 30px;
}
.follow-icon i {
    background: none;
    color:white;
    font-size: 18px;
    padding: 0px;
    display: flex;
    justify-content: right;
    width: 18px;
}
.show-posts{
    border-top: 1px solid #202020 ;
    border-right: 1px solid #202020;
    border-right:1px solid #202020;
    border-bottom:1px solid #202020;
    width:618px;
    height: 50px;
}
.show-posts span{
    color:#1d9bf0;
    display: flex;
    justify-content: center;
    height: 19px;
    margin-top: 15px;
}
.write-post-category{
    border: none;
    display: flex;
    flex-direction:  column;
    justify-content: left;
    border-right:1px solid #202020;
    width:618px;
    height:150px;
}
.write-post-category span{
    margin: 0px;
    padding: 5px;
    width: 25px;
    height: 18px;
}
.posts-items {
    width:618px;
    height:140px;
    border-right:1px solid #202020;
}
.post-icons {
    background: none;
    display: flex;
    align-items: center;
    width: 0px;
}
.post-icons i{
    border: none;
    margin: 40px 10px 10px 20px;
    font-size: 35px;
    background: none;
}
.write-post-category input{
    border: none;
    font-size: 19px;
    font-weight: 500;
    width: 220px;
    background: black;
}
.write-post-category form{
    width: 0px;
    height: 0px;
}
.write-post-category-icons i{
    background: none;
    font-size:18px ;
    color:#1d9bf0;
    height: 18px;
    width: 25px; 
}
.write-post-category-icons{
    background: none;
    padding: 10px;
    width: 400px;
    margin-left: 50px;
}
.write-post-category-icons i:hover{
background: lightskyblue;
opacity: 45%;
border-radius: 50%;
height: 25px;
}      
.posts-section{
    width:216px;
}
.posts{
    width: 618px;
    border-bottom:1px solid #202020 ;
    border-right: 1px solid #202020;
    border-left:1px solid #202020 ;
    padding: 10px 15px;
}
.profile{
    display: flex;
}
.profile img{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}
.top-details{
  display: flex;
  align-items: center;
}
.posted-by{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;

    
}
.post-headings{
    display: flex;
}
.posts-content p{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    width: 400px;
    margin-bottom: 10px;
}
.post-email{
   font-size: 15px;
   font-weight: 400;
   margin-left: 6px; 
   color: #606164;
   margin-top: 5px;
   margin-bottom: 5px;
}
.post-time{
    font-size: 15px;
    font-weight: 500;
    color: #606164;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post-picture img{
    width: 450px;
    height: 250px;
    border-radius: 15px;
    margin-top: 10px;

}
.posts-icon i{
    background: none;
    font-size: 18px;
    font-weight: 400px;
    color: #606164;
    margin-right:30px ;
}
.posts-icons{
   width: 470px;
   margin-left: 65px;
   margin-top: 10px;
}
.posts-icon span{
 width:10px ;
}
 .trending{
    background: none;
    height:900px;
}
.search-section{
    display: flex;
    height:45px;
    margin-top: 10px;
    margin-left: 30px;
    width: 320px;
    border-bottom-right-radius: 9999px;
    border-top-right-radius: 9999px;
}
.search{
    display: flex;
    width: 500px;
    margin: 0px;
    height: 100%;
    border-bottom-right-radius: 9999px;
    border-top-right-radius: 9999px;
}
 .search input {
    border: none;
    width: 80%;
    padding:0px;
    margin: 0px;
    align-items: center;
    border-right: none;
    height: 100%;
    font-size: 15px;
    background: #202020;
    border-bottom-right-radius: 9999px;
    border-top-right-radius: 9999px;
 }
 .search button {
    border: none;
    width: 20%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 2px;
    height: 100%;
    background: #202020;
    border-bottom-left-radius: 9999px;
    border-top-left-radius: 9999px;

 }
 .search i {
    border: none;
    color:#606164;
    font-size: 18px;
    padding: 0px;
    background: #202020;
    
}
.trends-for-you{
    height:530px;
    width:320px ;
    margin-top: 10px;
    margin-left: 30px;
    background: #202020;
    border-radius: 5%;
   
}
.trends-heading{
   background: none;
   height: 30px;
   font-size: 20px;
   font-weight: 500;
   padding: 10px 10px 0px 20px
   
}
.trends{
   display: flex;
   align-items: center;
   background: none;
   padding: 10px 24px;
}
.trends-section{
    background: none;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.trends-info{
    background:#202020 ;
    font-size: 14px;
    font-weight: 200;
    color: #606164;
}
.trends-topic{
    background:#202020;
    font-size: 16px;
    font-weight: 400;   
}
.posts-details-icon i{
    background: none;
    font-size: 18px;
    color: #606164;
}
.posts-details-icon {
    background: none;
    width: 27px;
}
.who-to-follow{ 
    margin-top: 20px;
    margin-left: 30px;
    width: 317px;
    height:285px ;
    background: #202020;
    border-radius: 8%;
}
.who-to-follow-heading{
    background: none;
    padding: 10px 0px 10px 20px;
    font-size: 20px;
    font-weight: 500;
    height:30px;
}
.follow{
    display: flex;
    align-items: center;
    background: none;
    padding: 10px 0px 0px 20px;
    height: 65px;
}
.who-to-follow-section{
    background: none;
    display: flex;
    justify-content: space-between;
    width: 100%;


}
.follow img{
   width: 29px;
   height: 29px;
   border-radius: 50%;
   margin-right: 10px;
}
.item{
   background: none;
}
.follow-name{
background: none;
font-size: 15px;
font-weight: 500;
}
.follow-email{
background: none;
font-size: 14px;
font-weight: 400;
color: #606164;
}
.follow-item{
background: white;
color: black;
border: 1px solid white;
font-size: 15px;
font-weight: 700;
border-radius: 15px;
padding: 5px;
min-width: 67px;
text-align: center;
margin-right: 15px;

}
.follow-item:hover {
    background: #606164;
    cursor: pointer;
}
.follow-more{
    background: none;
    width:107px;
    padding: 10px 0px 0px 20px ;
    color: #1d9bf0;
}
.trending-footer{
    background: none;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 10px;
}
.footer-section span{
    background: none;
    font-size: 13px;
    color: #606164;

}
